<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891214249172-m1ussb27ut3d8ksl1p2l1dgsq7eneb7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891214249172-m1ussb27ut3d8ksl1p2l1dgsq7eneb7u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>891214249172-kt7fvdv1r0t3qel3kp38v2qp5epavr6p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAij3Mzl2y_DxlZCC1mM9VXBk10fgHHwjE</string>
	<key>GCM_SENDER_ID</key>
	<string>891214249172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greepio.greep</string>
	<key>PROJECT_ID</key>
	<string>greepio</string>
	<key>STORAGE_BUCKET</key>
	<string>greepio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891214249172:ios:39ebf6ee08f51418be0f41</string>
</dict>
</plist>